
    <head>
        <title>Akriti</title>
    </head>
    <body>
        <div>
            <h1>Think --> Write --> Make Impression</h1>
        </div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        <div>
            <p>published: 11.04.2019, 04:40</p>
            <h2><a href="">Life Changer Book</a></h2>
            <p>किसी ने कहा है<br>
                "जिंदगी ही किताब है"<br>
                और आप पुछते हैं की <br>
                "ऐसी कौन सी किताब है जिसने जिंदगी बदल दी"<br>
                मेरी सबसे कीमती किताब हो तुम,<br>
                जिससे प्यार h बेहिसाब हो तुम,<br>
                तुम्ही से मैंने हँसना सीखा,<br>
                तुम्ही से मैने जीना सीखा,<br>
                मेरी जिंदगी ki एक किताब का,<br>
                हिस्सा भी हो तुम</p>
        </div>
    </body>
</html>